version: '3'

services:
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"


  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    hostname: kafka
    ports:
      - 29092:29092
    environment:
      KAFKA_ADVERTISED_HOST: localhost
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_ADVERTISED_LISTENERS: SASL_SSL://kafka:9092,OUT://localhost:29092
      KAFKA_LISTENERS: SASL_SSL://kafka:9092,OUT://kafka:29092
      KAFKA_SSL_KEYSTORE_LOCATION: '/certs/kafka.server.keystore.jks'
      KAFKA_SSL_KEYSTORE_PASSWORD: 'CouPHBm7SH4j'
      KAFKA_SSL_KEY_PASSWORD: 'CouPHBm7SH4j'
      KAFKA_SSL_TRUSTSTORE_LOCATION: '/certs/kafka.server.truststore.jks'
      KAFKA_SSL_TRUSTSTORE_PASSWORD: 'CouPHBm7SH4j'
      KAFKA_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM: ''
      KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/kafka_server_jaas.conf"
      KAFKA_SECURITY_INTER_BROKER_PROTOCOL: 'SASL_SSL'
      KAFKA_SSL_CLIENT_AUTH: "required"
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: 'PLAIN'
      KAFKA_SASL_ENABLED_MECHANISMS: 'PLAIN'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: SASL_SSL:SASL_SSL,OUT:SASL_SSL
      KAFKA_SSL_ENABLED_PROTOCOLS: TLSv1.2
      ZOOKEEPER_SASL_ENABLED: 'false'
      ZOOKEPER_SSL_CLIENT_ENABLE: 'true'
      ZOOKEPER_SSL_KEYSTORE_LOCATION: '/certs/kafka.server.keystore.jks'
      ZOOKEPER_SSL_KEYSTORE_PASSWORD: 'CouPHBm7SH4j'
      ZOOKEPER_SSL_TRUSTSTORE_LOCATION: '/certs/kafka.server.truststore.jks'
      ZOOKEPER_SSL_TRUSTSTORE_PASSWORD: 'CouPHBm7SH4j'
    volumes:
      - ./kafka_certs:/certs
      - /var/run/docker.sock:/var/run/docker.sock
      - ./kafka_config:/etc/kafka


  colector:
    build: ./colector
    container_name: colector
    depends_on: 
      - kafka
    restart: always


networks:
  default:
    external:
      name: rede